<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>MyMusicTaste ─ Events</title>
        <link>undefined</link>
        <description>undefined</description>
        <lastBuildDate>Fri, 26 Nov 2021 19:15:49 GMT</lastBuildDate>
        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>
        <generator>https://github.com/jpmonette/feed</generator>
        <item>
            <title><![CDATA[ATEEZ WORLD TOUR THE FELLOWSHIP : BEGINNING OF THE END IN EUROPE]]></title>
            <link>https://www.mymusictaste.com/events/</link>
            <guid>https://www.mymusictaste.com/events/</guid>
            <pubDate>Fri, 26 Nov 2021 19:15:48 GMT</pubDate>
            <content:encoded><![CDATA[<header class="sc-1sxlxw0-3 sc-1y7b7pa-16 gFVYBC leRxIM"><h3 class="sc-1sxlxw0-4 sc-1y7b7pa-9 kfJLAM ijmVUi">ATEEZ WORLD TOUR THE FELLOWSHIP : BEGINNING OF THE END IN EUROPE</h3><p class="sc-1sxlxw0-5 sc-1y7b7pa-12 ffZpFc btEoHQ">3/29/2020 - 3/1/2022</p></header><div class="sc-1y7b7pa-11 gmhJdT"><p class="sc-1sxlxw0-6 sc-1y7b7pa-13 jPAaEf dIHwFh"></p><p class="sc-1sxlxw0-6 sc-1y7b7pa-14 jPAaEf gCDQLo">Europe</p></div><p class="sc-1sxlxw0-6 sc-1y7b7pa-15 jPAaEf haNrFJ">에이티즈 (ATEEZ)</p>]]></content:encoded>
            <enclosure url="https://prodmsamedia.mymusictaste.com/event/img/tour/440x616/eaa5b4fe455d11ec94270a58a9feac02.jpg" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[ATEEZ WORLD TOUR THE FELLOWSHIP: BEGINNING OF THE END IN USA]]></title>
            <link>https://www.mymusictaste.com/events/</link>
            <guid>https://www.mymusictaste.com/events/</guid>
            <pubDate>Fri, 26 Nov 2021 19:15:48 GMT</pubDate>
            <content:encoded><![CDATA[<header class="sc-1sxlxw0-3 sc-1y7b7pa-16 gFVYBC leRxIM"><h3 class="sc-1sxlxw0-4 sc-1y7b7pa-9 kfJLAM ijmVUi">ATEEZ WORLD TOUR THE FELLOWSHIP: BEGINNING OF THE END IN USA</h3><p class="sc-1sxlxw0-5 sc-1y7b7pa-12 ffZpFc btEoHQ">1/18/2022 - 1/30/2022</p></header><div class="sc-1y7b7pa-11 gmhJdT"><p class="sc-1sxlxw0-6 sc-1y7b7pa-13 jPAaEf dIHwFh"></p><p class="sc-1sxlxw0-6 sc-1y7b7pa-14 jPAaEf gCDQLo">North America</p></div><p class="sc-1sxlxw0-6 sc-1y7b7pa-15 jPAaEf haNrFJ">에이티즈 (ATEEZ)</p>]]></content:encoded>
            <enclosure url="https://prodmsamedia.mymusictaste.com/event/img/tour/440x616/414f3d5a455c11eca9b10a58a9feac02.jpg" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[2]]></title>
            <link>https://www.mymusictaste.com/events/</link>
            <guid>https://www.mymusictaste.com/events/</guid>
            <pubDate>Fri, 26 Nov 2021 19:15:48 GMT</pubDate>
            <content:encoded><![CDATA[<div class="sc-1y7b7pa-0 sc-1y7b7pa-3 jaCxnv dKVMsz"><div class="sc-1b180qo-1 gWoNDH"><div class="sc-1b180qo-0 ikRoLt"><img src="https://prodmsamedia.mymusictaste.com/event/img/440x616/11fc7ca2455d11ec9d9a0a58a9feac02.jpg" class="sc-9a4u5i-0 ilamUj sc-1y7b7pa-1 erCCai"></div></div></div><div class="sc-1sxlxw0-2 sc-1y7b7pa-6 sc-1y7b7pa-8 bGSncp gXmNjR gigUlC"><header class="sc-1sxlxw0-3 sc-1y7b7pa-16 gFVYBC leRxIM"><h3 class="sc-1sxlxw0-4 sc-1y7b7pa-10 kfJLAM bKjOtm">ATEEZ WORLD TOUR THE FELLOWSHIP: BEGINNING OF THE END IN DALLAS</h3><p class="sc-1sxlxw0-5 sc-1y7b7pa-12 ffZpFc btEoHQ">January 27, 2022</p></header><div class="sc-1y7b7pa-11 gmhJdT"><p class="sc-1sxlxw0-6 sc-1y7b7pa-13 jPAaEf dIHwFh">The Texas Trust CU Theatre at Grand Prairie </p><p class="sc-1sxlxw0-6 sc-1y7b7pa-14 jPAaEf gCDQLo">Dallas, United States</p></div><p class="sc-1sxlxw0-6 sc-1y7b7pa-15 jPAaEf haNrFJ">에이티즈 (ATEEZ)</p></div>]]></content:encoded>
            <enclosure url="https://prodmsamedia.mymusictaste.com/event/img/440x616/11fc7ca2455d11ec9d9a0a58a9feac02.jpg" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[3]]></title>
            <link>https://www.mymusictaste.com/events/</link>
            <guid>https://www.mymusictaste.com/events/</guid>
            <pubDate>Fri, 26 Nov 2021 19:15:48 GMT</pubDate>
            <content:encoded><![CDATA[<div class="sc-1y7b7pa-0 sc-1y7b7pa-3 jaCxnv dKVMsz"><div class="sc-1b180qo-1 gWoNDH"><div class="sc-1b180qo-0 ikRoLt"><img src="https://prodmsamedia.mymusictaste.com/event/img/440x616/afb187a2455d11ec9ad90a58a9feac02.jpg" class="sc-9a4u5i-0 ilamUj sc-1y7b7pa-1 erCCai"></div></div></div><div class="sc-1sxlxw0-2 sc-1y7b7pa-6 sc-1y7b7pa-8 bGSncp gXmNjR gigUlC"><header class="sc-1sxlxw0-3 sc-1y7b7pa-16 gFVYBC leRxIM"><h3 class="sc-1sxlxw0-4 sc-1y7b7pa-10 kfJLAM bKjOtm">ATEEZ WORLD TOUR THE FELLOWSHIP : BEGINNING OF THE END IN NEWARK</h3><p class="sc-1sxlxw0-5 sc-1y7b7pa-12 ffZpFc btEoHQ">January 24, 2022</p></header><div class="sc-1y7b7pa-11 gmhJdT"><p class="sc-1sxlxw0-6 sc-1y7b7pa-13 jPAaEf dIHwFh">Prudential Center</p><p class="sc-1sxlxw0-6 sc-1y7b7pa-14 jPAaEf gCDQLo">New York City, United States</p></div><p class="sc-1sxlxw0-6 sc-1y7b7pa-15 jPAaEf haNrFJ">에이티즈 (ATEEZ)</p></div>]]></content:encoded>
            <enclosure url="https://prodmsamedia.mymusictaste.com/event/img/440x616/afb187a2455d11ec9ad90a58a9feac02.jpg" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[4]]></title>
            <link>https://www.mymusictaste.com/events/</link>
            <guid>https://www.mymusictaste.com/events/</guid>
            <pubDate>Fri, 26 Nov 2021 19:15:48 GMT</pubDate>
            <content:encoded><![CDATA[<div class="sc-1y7b7pa-0 sc-1y7b7pa-3 jaCxnv dKVMsz"><div class="sc-1b180qo-1 gWoNDH"><div class="sc-1b180qo-0 ikRoLt"><img src="https://prodmsamedia.mymusictaste.com/event/img/440x616/83c1a5c6455d11ec92400a58a9feac02.jpg" class="sc-9a4u5i-0 ilamUj sc-1y7b7pa-1 erCCai"></div></div></div><div class="sc-1sxlxw0-2 sc-1y7b7pa-6 sc-1y7b7pa-8 bGSncp gXmNjR gigUlC"><header class="sc-1sxlxw0-3 sc-1y7b7pa-16 gFVYBC leRxIM"><h3 class="sc-1sxlxw0-4 sc-1y7b7pa-10 kfJLAM bKjOtm">ATEEZ WORLD TOUR THE FELLOWSHIP : BEGINNING OF THE END IN CHICAGO</h3><p class="sc-1sxlxw0-5 sc-1y7b7pa-12 ffZpFc btEoHQ">January 18, 2022</p></header><div class="sc-1y7b7pa-11 gmhJdT"><p class="sc-1sxlxw0-6 sc-1y7b7pa-13 jPAaEf dIHwFh">Wintrust Arena</p><p class="sc-1sxlxw0-6 sc-1y7b7pa-14 jPAaEf gCDQLo">Chicago, United States</p></div><p class="sc-1sxlxw0-6 sc-1y7b7pa-15 jPAaEf haNrFJ">에이티즈 (ATEEZ)</p></div>]]></content:encoded>
            <enclosure url="https://prodmsamedia.mymusictaste.com/event/img/440x616/83c1a5c6455d11ec92400a58a9feac02.jpg" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[5]]></title>
            <link>https://www.mymusictaste.com/events/</link>
            <guid>https://www.mymusictaste.com/events/</guid>
            <pubDate>Fri, 26 Nov 2021 19:15:48 GMT</pubDate>
            <content:encoded><![CDATA[<div class="sc-1y7b7pa-0 sc-1y7b7pa-3 jaCxnv dKVMsz"><div class="sc-1b180qo-1 gWoNDH"><div class="sc-1b180qo-0 ikRoLt"><img src="https://prodmsamedia.mymusictaste.com/event/img/440x616/4f30061a455d11eca34a0a58a9feac02.jpg" class="sc-9a4u5i-0 ilamUj sc-1y7b7pa-1 erCCai"></div></div></div><div class="sc-1sxlxw0-2 sc-1y7b7pa-6 sc-1y7b7pa-8 bGSncp gXmNjR gigUlC"><header class="sc-1sxlxw0-3 sc-1y7b7pa-16 gFVYBC leRxIM"><h3 class="sc-1sxlxw0-4 sc-1y7b7pa-10 kfJLAM bKjOtm">ATEEZ WORLD TOUR THE FELLOWSHIP : BEGINNING OF THE END IN ATLANTA</h3><p class="sc-1sxlxw0-5 sc-1y7b7pa-12 ffZpFc btEoHQ">January 20, 2022</p></header><div class="sc-1y7b7pa-11 gmhJdT"><p class="sc-1sxlxw0-6 sc-1y7b7pa-13 jPAaEf dIHwFh">Gas South Arena</p><p class="sc-1sxlxw0-6 sc-1y7b7pa-14 jPAaEf gCDQLo">Atlanta, United States</p></div><p class="sc-1sxlxw0-6 sc-1y7b7pa-15 jPAaEf haNrFJ">에이티즈 (ATEEZ)</p></div>]]></content:encoded>
            <enclosure url="https://prodmsamedia.mymusictaste.com/event/img/440x616/4f30061a455d11eca34a0a58a9feac02.jpg" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[6]]></title>
            <link>https://www.mymusictaste.com/events/</link>
            <guid>https://www.mymusictaste.com/events/</guid>
            <pubDate>Fri, 26 Nov 2021 19:15:48 GMT</pubDate>
            <content:encoded><![CDATA[<div class="sc-1y7b7pa-0 sc-1y7b7pa-3 jaCxnv dKVMsz"><div class="sc-1b180qo-1 gWoNDH"><div class="sc-1b180qo-0 ikRoLt"><img src="https://prodmsamedia.mymusictaste.com/event/img/440x616/cfe51b76455c11eca4b90a58a9feac02.jpg" class="sc-9a4u5i-0 ilamUj sc-1y7b7pa-1 erCCai"></div></div></div><div class="sc-1sxlxw0-2 sc-1y7b7pa-6 sc-1y7b7pa-8 bGSncp gXmNjR gigUlC"><header class="sc-1sxlxw0-3 sc-1y7b7pa-16 gFVYBC leRxIM"><h3 class="sc-1sxlxw0-4 sc-1y7b7pa-10 kfJLAM bKjOtm">ATEEZ WORLD TOUR THE FELLOWSHIP: BEGINNING OF THE END IN LOS ANGELES</h3><p class="sc-1sxlxw0-5 sc-1y7b7pa-12 ffZpFc btEoHQ">January 30, 2022</p></header><div class="sc-1y7b7pa-11 gmhJdT"><p class="sc-1sxlxw0-6 sc-1y7b7pa-13 jPAaEf dIHwFh">The Forum</p><p class="sc-1sxlxw0-6 sc-1y7b7pa-14 jPAaEf gCDQLo">Los Angeles, United States</p></div><p class="sc-1sxlxw0-6 sc-1y7b7pa-15 jPAaEf haNrFJ">에이티즈 (ATEEZ)</p></div>]]></content:encoded>
            <enclosure url="https://prodmsamedia.mymusictaste.com/event/img/440x616/cfe51b76455c11eca4b90a58a9feac02.jpg" length="0" type="image/jpg"/>
        </item>
    </channel>
</rss>